*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #fff;
    color: #555;
    font-size: 14px;
    font-family: 'Avenir Next', 'Lantinghei SC';
    -webkit-font-smoothing: antialiased;  // 字体平滑
}
