<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>画廊式个人项目展示系统</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'imgs/favicon.ico' %}" type="image/x-icon">
</head>
<body onselectstart="return false;">
<!--onselectstart="return false;禁止选中-->
<div class="wrap" id="wrap">
    <!--.photo负责位置的居中和旋转-->
    <div v-for="works in all_works" class="photo photo_front" onclick="turn(this)"
    :id="'photo_'+works.id">
        <!--.photo-wrap 负责海报的正面与反面的翻转-->
        <div class="photo-wrap">
            <!--.side-front 海报正面-->
            <div class="side side-front ">
                <p class="image">
                    <img :src="works.cover" :alt="works.title">
                </p>
                <p class="caption">{{works.title}}</p>
            </div>
            <!--.side-back 海报反面-->
            <div class="side side-back">
                <p class="desc ellipsis-15" v-html="works.desc"></p>
                <br>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;<a :href="works.source">查看详情  ></a>
            </div>
        </div>
    </div>

    <div class="nav">
        <span v-for="works in all_works" :id="'nav_'+works.id" :onclick="turn_nav_attr.replace(/\d{1,2}/, works.id)" class="i">&nbsp;</span>
    </div>
</div>
<!--
<div class="footer">
    <a href="admin">登录后台</a>
</div>
-->
<script src="{% static 'js/vue.min.js' %}"></script>
<script src="{% static 'js/vue-resource.min.js' %}"></script>
<script>
    var app = new Vue({
        el: '#wrap',
        data: {
            all_works: [],
            turn_nav_attr: "turn(g('#photo_0'))"
        },
        mounted: function(){
            this.get_all_works();
        },
        methods: {
            get_all_works: function(){
                var _this = this;
                this.$http.jsonp("{% url 'get_works' %}", {}).then(function(res){
                    console.log(res);
                    _this.all_works = res.data.data;
                    console.log(_this.all_works[0].desc)
                }, function(error){
                    console.log('error:'+error);
                });
            }
        }
    });
</script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
